<style>
    
    header {
          text-align: center;
          color: #000000;
          background: url("http://www.goodwp.com/images/201102/goodwp.com_15465.jpg") no-repeat center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
             -o-background-size: cover;
            background-size: cover;
          
}
</style>
<header>
    <a name="demo4"></a>
    <br>
      <b><h1 style="color: #ccebff"><span class="glyphicon glyphicon-hand-right"></span> Cato <span class="glyphicon glyphicon-hand-left"></span></h1></b>
      <span style="color: #ccebff;" class="glyphicon glyphicon-option-horizontal"></span><span style="color: #ccebff;" class="glyphicon glyphicon-option-horizontal"></span><span style="color: #ccebff;" class="glyphicon glyphicon-option-horizontal"></span><span style="color: #ccebff;" class="glyphicon glyphicon-heart-empty"></span><span style="color: #ccebff;" class="glyphicon glyphicon-option-horizontal"></span><span style="color: #ccebff;" class="glyphicon glyphicon-option-horizontal"></span><span style="color: #ccebff;" class="glyphicon glyphicon-option-horizontal"></span>
      <br>
      <div class="row">
          <div style="color: #ffe6e6; font-size:20px;" class="col-md-4">
            <h4><strong><span class=" glyphicon glyphicon-map-marker"></span> Ubicacion: </strong></h4>
            <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t31.0-8/20861517_714729002049131_2073631966587783867_o.jpg?oh=610b20291f25945e228ac45cb528b4ea&oe=5A82D7EB" width="300" height="240" align="center">
            <p  style="color: #ffe6e6; font-size:20px;" class="experience-period">
              Parlana
            </p>
            <br>
    </div>
    <div class="col-md-8">
        <p style="color: #ffe6e6; font-size:20px;" >
            <h4><strong><span class=" glyphicon glyphicon-map-marker"></span> Fiesta: </strong></h4>
            <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/15492546_10202462080590691_5062254930900134151_n.jpg?oh=b27881af5a7a0dbeddf4cc245d2d0e00&oe=5A831CBF" width="300" height="300" align="center">
            <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/15590551_10202462081070703_5326312654121398553_n.jpg?oh=5d4f36a7057df27e5a64bba512ce8448&oe=5A3E22DA" width="300" height="250" align="left">
            <p  style="color: #ffe6e6; font-size:20px;" class="experience-period">
              Catolicazo
            </p>
            <br>
      </div>
  </div>

  <div class="row">
      <div style="color: #ffe6e6; font-size:20px;" class="col-md-4">
        <h4><strong><span class=" glyphicon glyphicon-map-marker"></span> Cumple: </strong></h4>
        <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/16473310_10202666934751917_8202163620196030163_n.jpg?oh=4a3561d183057ad68c0ae0d87c935c3e&oe=5A518028" width="250" height="300" align="center">
        <br>
</div>
<div class="col-md-8">
    <p style="color: #ffe6e6; font-size:20px;" >
        <h4><strong><span class=" glyphicon glyphicon-map-marker"></span> Salidas: </strong></h4>
        <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t31.0-8/14241599_10202016806699122_6205538454744748883_o.jpg?oh=2fab9ae8fd30d1b322b9533ab5fd20c1&oe=5A85B040" width="300" height="250" align="center">
        <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t31.0-8/13254816_10201619256400613_1259899901646193848_o.jpg?oh=0fe986c1e0827a942d5c22c5afed863e&oe=5A42B27F" width="300" height="250" align="left">
        <br>
  </div>
</div>
</header>