<style>
    
    header {
          text-align: center;
          color: #000000;
          background: url("https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/13012897_10153525101522078_5945473734984696751_n.jpg?oh=ee97213e3a8e6a2528cbca2965a4666b&oe=5A493C8C") no-repeat center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
             -o-background-size: cover;
            background-size: cover;
          
}
.navBar {
      overflow: hidden;
    }
    .navBar2 {
      overflow: hidden;
      background-color: #000000;

    }
</style>
<header>
    <a name="demo5"></a>
    <br>
      <b><h1 style="color: #000000"><span class="glyphicon glyphicon-hand-right"></span> Ayuda a un amigo perruno <span class="glyphicon glyphicon-hand-left"></span></h1></b>
      <span style="color: #000000;" class="glyphicon glyphicon-option-horizontal"></span><span style="color: #000000;" class="glyphicon glyphicon-option-horizontal"></span><span style="color:#000000;" class="glyphicon glyphicon-option-horizontal"></span><span style="color: #000000;" class="glyphicon glyphicon-heart-empty"></span><span style="color: #000000;" class="glyphicon glyphicon-option-horizontal"></span><span style="color:#000000;" class="glyphicon glyphicon-option-horizontal"></span><span style="color: #000000;" class="glyphicon glyphicon-option-horizontal"></span>
      <br>
      <b><h2 style="color: #000000; font-size:30px;">Contamos con 150 perritos </h2></b>
      <div class="row">
          <div style="color: #000000; font-size:20px;" class="col-md-4">
            <h4><strong><span class=" glyphicon glyphicon-map-marker"></span> Ubicacion: </strong></h4>
            <p  style="color: #000000; font-size:20px;" class="experience-period">
              Uspa Uspa
            </p>
            <br>
            <h4><strong><span clase6s=" glyphicon glyphicon-map-marker"></span> Fundadora: </strong></h4>
            <p  style="color: #000000; font-size:20px;" class="experience-period">
                Rosio Sossa Salazar
            </p>
    </div>
    <div class="col-md-8">
        <p style="color: #000000; font-size:20px;" >
            <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/17554049_10212611862319584_8733288549209696365_n.jpg?oh=b05e9c5d28d6cebffa5bc2ee12347c4f&oe=5A40903E" width="250" height="200" align="center">
            <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/15135754_10211256586078525_4489080012049933156_n.jpg?oh=4c91c9883dd0e6008483e75989fb4f1e&oe=5A4CE9CB" width="200" height="200" align="left">
            <br>
      </div>
  </div>
  <div class="row">
      <div style="color: #000000; font-size:20px;" class="col-md-4">
        <h4><strong><span class=" glyphicon glyphicon-map-marker"></span> Telefono: </strong></h4>
        <p  style="color: #000000; font-size:20px;" class="experience-period">
          75464063
        </p>
        <br>
        <h4><strong><span clase6s=" glyphicon glyphicon-map-marker"></span> Donaciones: </strong></h4>
        <p  style="color: #000000; font-size:20px;" class="experience-period">
            Arrocillo, croquetas, colchines
            frasadas, ropa, aliemnto balanceado,
            suplemento para bebe
        </p>
</div>
<div class="col-md-8">
    <p style="color: #000000; font-size:20px;" >
        <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t31.0-8/14258276_10153881179762078_7349186372756094261_o.jpg?oh=7ff03183ad40a268fac2347c3ca3bce2&oe=5A4239B9" width="320" height="280" align="center">
        <br>
  </div>
  </div>
<div class="col-md-8">
    <p style="color: #000000; font-size:20px;" >
        <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/14264018_10154275954770339_8811480999869367179_n.jpg?oh=ff62675bf12bf98cf95cbc39fa823d58&oe=5A3FE395" width="250" height="200" align="center">
        <img src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t31.0-8/16722446_10154316393792078_4875918720161889340_o.jpg?oh=324a0fa4b841083465be12ace63c53d0&oe=5A3B09E3" width="200" height="200" align="left">
  </div>
<div class="navBar">
    <blockquote><font align="right" size="5" color="black" >
  <button>
    <a style="color: #000000; font-size:20px;" href="https://www.facebook.com/CentroDeAdopcionesSanMartinDePorres/">Fb Refugio</a>
  </button>
  </font></blockquote>
<button>
    <a style="color: #000000; font-size:20px;" href="https://www.facebook.com/rosios?hc_ref=ARRC48gKZqgVDFgvOUJfGodWQiObnZ0Z_xRLztOvWG4B3XNUZ-SfovSablOKwFkMHh4&pnref=story">Fb Fundadora</a>
  </button>
  <br>
</div>
<br>
  <div class="navBar2">
  <a style="color: #ffe6e6; font-size:40px;">ADOPTA NO COMPRES</a>
  </div>
</header>
